button{
  height: 30px;
  width: 100px;
  background-color: aquamarine;
  color: brown;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;

}
.App{
  text-align: center;
}
h1{
  color: blueviolet;
  font-family:cursive;
  font-size: 3rem;
  padding: 12px;
  background-color: antiquewhite;
  border: 6px groove gray;
  border-radius: 35%;
  box-shadow: 1px 2px 5px black;
  
}